<h1>Listing indications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @indications.each do |indication| %>
      <tr>
        <td><%= indication.name %></td>
        <td><%= link_to 'Show', indication %></td>
        <td><%= link_to 'Edit', edit_indication_path(indication) %></td>
        <td><%= link_to 'Destroy', indication, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indication', new_indication_path %>
