<h1>Список показаний</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @indications.each do |indication| %>
      <tr>
        <td><%= indication.name %></td>
        <td><%= link_to 'Подробнее', indication %></td>
        <% if user_signed_in? && current_user.user_type == "admin" %>
          <td><%= link_to 'Редактировать', edit_indication_path(indication) %></td>
          <td><%= link_to 'Удалить', indication, method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить показание', new_indication_path %>
