<h1>Семейства растений</h1>
<br/>
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= family.description %></td>
        <td><%= link_to 'Подробно', family %></td>
        <td><%= link_to 'Редактировать', edit_family_path(family) %></td>
        <td><%= link_to 'Удалить', family, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить семейство растений', new_family_path %>
