<p id="notice"><%= notice %></p>

<p>
  <strong>Название семейства:</strong>
  <%= @family.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @family.description %>
</p>

<% if user_signed_in? && current_user.user_type == "admin" %>
	<%= link_to 'Редактировать', edit_family_path(@family) %> |
<% end -%>
<%= link_to 'Назад', families_path %>
