<%= form_for(@disease) do |f| %>
  <% if @disease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disease.errors.count, "error") %> prohibited this disease from being saved:</h2>

      <ul>
      <% @disease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Название заболевания<br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    Описание<br>
    <%= f.text_area :discription %>
  </div>

  <div class="field">
    Возможные лекарства:<br>
    <% MethodOfUse.all.each do |method|  %>
      <%= check_box_tag 'disease[method_of_use_ids][]', method.id,  @disease.method_of_use.include?(method) %>
      <%= method.name %>
    <% end %>
    <%= hidden_field_tag 'disease[method_of_use_ids][]', '' %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>