<%= form_for(@plant) do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Название<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Описание<br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    Семейство<br>
    <%= f.select :family_id, options_for_select(@families.map{ |c| [c.name, "#{c.id}:#{c.name}"]} ,
                                                selected_key = f.object.family_id)  %>
  </div>
  <div class="field">
    Область произрастания<br>
    <%= f.select :region_id , options_for_select(@regions.map{ |c| [c.name, "#{c.id}:#{c.name}"]} ,
                                                selected_key = f.object.region_id)  %>
  </div>
  <div class="actions">
    <%= f.submit "Применить" %>
  </div>
<% end %>
