<h1>Список растений</h1>
</td>
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Семейство</th>
      <th>Область произрастания</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.name %></td>
        <td><%= plant.description %></td>
        <td><%= plant.family.name %></td>
        <td><%= plant.region.name %></td>
        <td><%= link_to 'Подробно', plant %></td>
        <td><%= link_to 'Редактировать', edit_plant_path(plant) %></td>
        <td><%= link_to 'Удалить', plant, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить растение', new_plant_path %>
