<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Семейство/род:</strong>
  <%= link_to @plant.family.name,@plant.family  %>
</p>

<p>
  <strong>Область произрастания:</strong>
  <%= @plant.region.name %>
</p>

<% if user_signed_in? && current_user.user_type == "admin" %>
	<%= link_to 'Изменить', edit_plant_path(@plant) %> |
<% end -%>
<%= link_to 'Назад', plants_path %>
