<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Family:</strong>
  <%= @plant.family_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @plant.region_id %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
