<h1>Страны</h1>

<table>
  <thead>
    <tr>
      <th><br/></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= link_to 'Подробнее', country %></td>
        <% if user_signed_in? && current_user.type == "admin" %>
        <td><%= link_to 'Редактировать', edit_country_path(country) %></td>
        <td><%= link_to 'Уничтожить', country, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить страну', new_country_path %>
