<h1>Страны</h1>

<table>
  <thead>
    <tr>
      <th><br/></th>
      <th></th>
      <% if user_signed_in? && current_user.user_type == "admin" %>
         <th></th><th></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td align="right"><%= link_to 'Подробнее', country %></td>
        <% if user_signed_in? && current_user.user_type == "admin" %>
          <td  align="right"><%= link_to 'Редактировать', edit_country_path(country) %></td>
          <td  align="right"><%= link_to 'Уничтожить', country, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.user_type == "admin" %>
  <%= link_to 'Добавить страну', new_country_path %>
<%end%>
