<%= form_for(@contraindication) do |f| %>
  <% if @contraindication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contraindication.errors.count, "error") %> prohibited this contraindication from being saved:</h2>

      <ul>
      <% @contraindication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
