<h1>Список противопоказаний</h1>

<br />

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contraindications.each do |contraindication| %>
      <tr>
        <td><%= contraindication.name %></td>
        <td><%= link_to 'Подробнее', contraindication %></td>
        <% if user_signed_in? && current_user.user_type == "admin" %>
          <td><%= link_to 'Редактировать', edit_contraindication_path(contraindication) %></td>
          <td><%= link_to 'Удалить', contraindication, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить противопоказание', new_contraindication_path %>
