<%= form_for(@method_of_use) do |f| %>
  <% if @method_of_use.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@method_of_use.errors.count, "error") %> prohibited this method_of_use from being saved:</h2>

      <ul>
      <% @method_of_use.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Название<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Описание<br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    Используемое растение<br>
    <%= f.select  :plant_id, options_for_select(@plants.map{ |c| [c.name, "#{c.id}:#{c.name}"]} ,
                                                selected_key = f.object.plant_id)  %>
  </div>
  <div class="field">
    Часть растения<br>
    <%= f.select :path_of_plant_id , options_for_select(@paths.map{ |c| [c.Name, "#{c.id}:#{c.Name}"]} ,
                                                selected_key = @method_of_use.path_of_plant_id)  %>
  </div>

    <div class="field">
      Болезни, при которых может помочь это средство:<br>
      <% Disease.all.each do |disease|  %>
          <%= check_box_tag 'method_of_use[disease_ids][]', disease.id,  
                            @method_of_use.disease.include?(disease) %>
          <%= disease.name %>
      <% end %>
      <%= hidden_field_tag 'method_of_use[disease_ids][]', '' %>
    </div>

    <div class="field">
      Показания к применению:<br>
      <% Indication.all.each do |indication|  %>
          <%= check_box_tag 'method_of_use[indication_ids][]', indication.id,
                            @method_of_use.indication.include?(indication) %>
          <%= indication.name %>
      <% end %>
      <%= hidden_field_tag 'method_of_use[indication_ids][]', '' %>
    </div>

    <div class="field">
      Противопоказания к применению:<br>
      <% Contraindication.all.each do |contraindication|  %>
          <%= check_box_tag 'method_of_use[contraindication_ids][]', contraindication.id,
                            @method_of_use.contraindication.include?(contraindication) %>
          <%= contraindication.name %>
      <% end %>
      <%= hidden_field_tag 'method_of_use[contraindication_ids][]', '' %>
    </div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
