<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @method_of_use.name %>
</p>

<p>
  <strong>Описание:</strong>
  	<textarea><%= @method_of_use.description %></textarea>
</p>

<p>
  <strong>Используемое растение:</strong>
  <%= @method_of_use.plant.name %>
</p>

<p>
  <strong>Используемая часть:</strong>
  <%= @method_of_use.path_of_plant.Name %>
</p>

<p>
  <strong>Болезни, при которых может быть полезно данное средство: </strong>
  <% @method_of_use.disease.each do |disease| %>
      <%= link_to disease.name,disease %>
  <% end %>
</p>

<p>
  <strong>Показания к применению: </strong>
  <% @method_of_use.indication.each do |indication| %>
      <%= link_to indication.name,indication %>
  <% end %>
</p>

<p>
  <strong>Противопоказания к применению: </strong>
  <% @method_of_use.contraindication.each do |contraindication| %>
      <%= link_to contraindication.name,contraindication %>
  <% end %>
</p>

<%= link_to 'Изменить', edit_method_of_use_path(@method_of_use) %> |
<%= link_to 'Назад', method_of_uses_path %>
