<%= form_for(@region) do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Название региона<br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    Страна<br>
    <%= f.select :country_id , options_for_select(@countries.map{ |c| [c.name, "#{c.id}:#{c.name}"]} ,
                                                selected_key = f.object.country_id)  %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
