<p id="notice"><%= notice %></p>

<p>
  <strong>Название региона:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Cтранa:</strong>
  <%= @region.country.name%>
</p>

<% if user_signed_in? && current_user.user_type == "admin" %>
<%= link_to 'Редактировать', edit_region_path(@region) %> |
<% end %>
<%= link_to 'Назад', regions_path %>
