<!DOCTYPE html>
<html>
<head>
  <title>Справочник лекарственных растений</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <!--<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	<!--<img style="position:absolute; top:5; right:0" src="/minami-ke6.png" onclick="closeimage(this)" alt="От дождика" />-->
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="/">Справочник лекарственных растений</a>
	      <ul class="nav">
	        <li class="active"><a href="/plants">Растения</a></li>
	        <li class="active"><a href="/families">Семейства растений</a></li>
	        <li class="active"><a href="/method_of_uses">Способы применения</a></li>
		  </ul>
	      <ul class="nav">
	        <li class="active"><a href="/path_of_plants">Части растения</a></li>
		    <li class="active"><a href="/diseases">Болезни</a></li>
		    <li class="active"><a href="/countries">Страны</a></li>
	      </ul>
		  <p class="navbar-text pull-right">
			<% if user_signed_in? %>
			  Вы вошли как <strong><%= current_user.email %></strong>.
			  <%= link_to 'Редактировать профиль', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Выйти", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Зарегистрироваться", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Войти", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</p>
	    </div>
	  </div>
	</div>
	<div class="container">
		<!--<% if notice %>
		  <p class="alert alert-notice"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-error"><%= alert %></p>
		<% end %>-->
	  <%= yield %>
	</div>
	<% if Random.rand(11) > 9 %>		
	<img style="position:absolute; bottom:0; left:0" src="/house-dr.png" onclick="closeimage(this)" alt="House" />
	<% end %>
</body>
</html>
